*.pyc
*.state
vim/sessions
vim/bundle/*
vim/spell
emacs.d/auto-save-list/
emacs.d/elpa/
emacs.d/recentf
emacs.d/.smex-items
emacs.d/smex-items
emacs.d/places
emacs.d/cider-history
emacs.d/ido.last
emacs.d/projectile-bookmarks.eld
emacs.d/backups/
emacs.d/history
emacs.d/ido.last
emacs.d/abbrev_defs
emacs.d/.session
emacs.d/.emacs.desktop
zsh/cache
