[user]
	name = Kári Tristan Helgason
	email = kthelgason@gmail.com
[core]
	excludesfile = /Users/kthelgason/.gitignore_global
	autocrlf = input
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[color]
	ui = true
[push]
	default = simple
[alias]
    st = status -sb
    ci = commit -m
    co = checkout
    di = diff
    aa = add --all
    a = add 
    p  = push
    br = branch -v
    wtf = "!source ~/dotfiles/bin/githelpers && git_wtf"
    l = "!source ~/dotfiles/bin/githelpers && pretty_git_log"

